@font-face {
    font-family: 'Public+Sans';
    src: url('./fonts/Public_Sans/PublicSans-VariableFont_wght.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Public+Sans', sans-serif;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
}

